       /*Body */
       body {
           margin: 0;
           font-family: system-ui, sans-serif;
           background-color: #f8f8fc;
           color: #022033;

       }

       html,
       body {
           height: 100%;
           margin: 0;
           padding: 0;
       }

       /* Border */
       .page-wrapper {
           min-height: 100vh;
           min-height: 100dvh;
           border: 2px solid #cc5500;
           box-sizing: border-box;
           display: flex;
           flex-direction: column;
       }

       /* Hero section */
       .hero {
           display: flex;
           min-height: 100vh;
       }

       /* Left Side */
       .hero-image {
           flex: 1;
           position: relative;

       }

       /* Hero image */
       .hero-image img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: top center;
       }

       .hero-image::after {
           content: "";
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.3);
       }

       /* Right Side */
       .hero-content {
           flex: 1;
           background: #0a1f44;
           color: white;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           padding: 20px;
       }

       /* Intro text */
       .intro {
           text-align: left;
           margin-top: auto;
           margin-bottom: auto;
       }

       /* h1 size */
       .intro h1 {
           font-size: 2.5rem;
       }



       /* Nav bar outlook */
       nav {
           display: flex;
           justify-content: space-between;
           align-items: center;
       }

       /* Nav bar lists */
       nav ul {
           display: flex;
           list-style: none;
       }

       /* Nav bar anchor tag */
       nav a {
           color: white;
           text-decoration: none;
           margin: 15px;
           font-weight: bold;
       }

       /* Nav bar responsiveness */
       nav a:hover {
           color: #cc5500;
       }




       /* Logo size */
       .logo {
           height: 45px;
           width: 45px;
           vertical-align: middle;
           object-fit: cover;
           border-radius: 50%;
       }

       /* Logo responsiveness */
       .logo:hover {
           opacity: 0.8;
           cursor: pointer;
       }


       /* Button */
       button {
           padding: 10px 20px;
           border-radius: 10px;
       }



       /* Main tag that wraps the main body */
       main {
           flex: 1;
       }

       /* Section tag */
       section {
           max-width: 1300px;
           margin: auto;
           padding: 10px;
           align-items: center;

       }

       .about {
           text-align: left;
       }

       /* LinkedIn Icon */
       .about-socials {
           position: fixed;
           top: 20px;
           left: 90px;
           z-index: 1000;
       }

       .about-socials a {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 40px;
           height: 40px;
           border-radius: 20%;
           background-color: #eaf3ff;
           color: #0a66c2;
           font-size: 35px;
           text-decoration: none;
           transition: all 0.3s;
       }

       .about-socials a:hover {
           background-color: #cc5500;
           color: white;
           transform: scale(1.1);
       }


       /* footer tag */
       footer {
           color: #022033;
           padding: 20px;
           text-align: center;
           border-top: 2px solid #cc5500;
       }


      .footer-info{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
      } 

      .footer-info a{
        font-size: 22px;
    transition: 0.3s ease;
    text-decoration: none;
      }

      .footer-info a:hover{
        color: #cc5500;
      }
      


       /* anchor tag */
       a {
           color: #022033;
           text-decoration: none;
           margin: 15px;
           font-weight: bold;

       }




       /* floating icons */
       .floating-contact {
           position: fixed;
           right: 20px;
           bottom: 20px;
           display: flex;
           flex-direction: column;
           gap: 12px;
           z-index: 1000;
       }

       /* floating icon anchor tag */
       .floating-contact a {
           width: 50px;
           height: 50px;
           border-radius: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
           color: white;
           font-size: 20px;
           text-decoration: none;
       }

       /* brand colors for floating contact */
       .whatsapp {
           background: #25D366;
       }

       .phone {
           background: #022033;
       }

       .email {
           background: #cc5500;
       }

       .floating-contact a:hover {
           transform: scale(1.1);
       }




       /* Projects */
       .projects {
           padding: 40px;
           text-align: center;
       }

       .project-container {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
           gap: 20px;
       }

       .project-card {
           background: #fff;
           border-radius: 15px;
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
           overflow: hidden;
           transition: 0.3s;
       }

       /* hover effect */
       .project-card:hover {
           transform: translateY(-5px);
       }

       .project-card img {
           width: 100%;
           height: 300px;
           object-fit: cover;
       }

       .project-card h3 {
           margin: 15px;
       }

       /* project card text */
       .project-card p {
           color: #555;
           padding: 0 15px 20px;
       }


       /* Services */
       .services-hero {
           height: calc(100vh - 20vh);
           width: calc(100% - 20px);
           background: url(images/service2.jpg) no-repeat center/cover;
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
       }

       .service-container {
           column-count: 2;
           column-gap: 20px;
           padding: 15px;
           background-color: #e1e1e1;
           border-radius: 15px;
       }

       .service-card {
           background: #fff;
           border-radius: 20px;
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
           overflow: hidden;
           transition: 0.3s;
           display: block;
           width: 100%;
           margin-bottom: 20px;
           text-decoration: none;
           color: inherit;
       }

       .service-content {
           padding: 15px;
       }

       .service-content p {
           font-size: 14px;
       }

       .service-content h3 {
           font-size: 18px;
           margin: 15px;
       }

       .service-card img {
           width: 100%;
           height: 200px;
           object-fit: cover;
           border-radius: 10px;
           margin-bottom: 10px;
       }


       .service-card p {
           color: #555;
           padding: 0 15px 20px;
       }

       .service-card:hover {
           transform: translateY(-5px);
           border-bottom: 4px solid #cc5500;
       }


       /* dark overlay for readability */
       .hero-overlay {
           background: rgba(0, 0, 0, 0.5);
           color: white;
           text-align: center;
           padding: 40px;
           border-radius: 10px;
       }

       /* Heading */
       .hero-overlay h1 {
           font-size: 2.8rem;
           margin-bottom: 15px;
       }

       /* Subtext */
       .hero-overlay p {
           font-size: 1.2rem;
           margin-bottom: 20px;
           color: #e0e0e0;
       }

       /* Button */
       .hero-btn {
           display: inline-block;
           padding: 12px 25px;
           background: #cc5500;
           color: white;
           text-decoration: none;
           border-radius: 25px;
           font-weight: bold;
           transition: 0.3s;
       }

       .hero-btn:hover {
           background: #ff8c42;
       }


       .impact{
        padding:60px 20px; 
        text-align:center; 
        background:#e1cdcd;
       }

       .impact h2{
        font-family:'Segoe UI', sans-serif;
         margin-bottom:40px; 
         font-size:32px;
       }

       .impact-wrapper{
        display:flex; 
        flex-wrap:wrap; 
        justify-content:center; 
        gap:40px;
       }

       .impact-info{
        max-width:220px; 
        text-align:left;
       }

       .impact-info h3{
        font-size:20px; 
        margin-bottom:10px;
       }
       /* Blog spot */

       .blog-container {
           column-count: 2;
           column-gap: 20px;
           padding: 20px;
       }

       .blog-card {
           background: #fff;
           border-radius: 20px;
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
           overflow: hidden;
           transition: 0.3s;
           display: block;
           width: 100%;
           margin-bottom: 20px;
           text-decoration: none;
           color: inherit;
       }


       .blog-card img {
           width: 100%;
           height: 400px;
           object-fit: cover;
           border-radius: 10px;
           margin-bottom: 10px;
       }

       .blog-card h3 {
           margin: 15px;
       }

       .blog-card p {
           color: #555;
           padding: 0 15px 20px;
       }

       .blog-card:hover {
           transform: translateY(-5px);
           border-bottom: 4px solid #cc5500;
       }


       /* featured project card */
       .featured {
           grid-column: span 2;
           grid-row: span 2;
           position: relative;
           overflow: hidden;
       }

       .featured img {
           height: 100%;
       }

       .featured h3 {
           font-size: 1.5rem;
       }

       .featured p {
           font-size: 1rem;
       }

       /* tag */
       .tag {
           position: absolute;
           top: 15px;
           left: 15px;
           background: rgba(255, 255, 255, 0.9);
           padding: 5px 12px;
           border-radius: 20px;
           font-size: 0.8rem;
           font-weight: bold;
           z-index: 2;
       }


       /* forms */
       form {
           width: 100%;
           max-width: 600px;
           display: flex;
           flex-direction: column;
       }

       .form {
           display: flex;
           justify-content: space-between;

       }

       .contact {
           display: flex;
           gap: 20px;
       }

       .contact-info {
           border: 2px solid rgb(215, 214, 214);
           border-radius: 10px;
           padding: 20px;
       }

       /* form content */
       label {
           font-weight: 500;

       }

       input {
           padding: 15px;
           border-radius: 10px;
           border: 1px solid lightgray;
       }

       textarea {
           padding: 25px;
           border-radius: 10px;
           border: 1px solid lightgray;
       }




       /* Mobile fix */
       @media (max-width: 768px) {
           .hero {
               flex-direction: column;
               height: auto;
           }

           .hero-image img {
               height: 300px;
           }

           nav ul {
               flex-direction: column;
               align-items: center;
           }

           .hero-content {
               text-align: center;
           }

           .blog-container {
               column-count: 1;
           }

           footer{
            padding: 15px 10px;
           }

           .footer-info{
            gap: 12px;
           }
       }

       @media (max-width: 500px) {
           .blog-container {
               column-count: 1;
           }
       }
